    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cac5cc;
  font-family: Arial, sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 70%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.8;
}

.menu {
  padding: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%
}

.menu:hover {
  background-color: #dc0000;
}
.logout-btn {
  text-decoration: none;
  font-family: sans-serif;
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: black;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
  -webkit-animation: hop 1s;
  animation: hop 1s;
}
